<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signup-styles.css">
    </head>

<body>

    <div class="container">
        <div class="form-section">
            <h1>test</h1>
            <p>ลงทะเบียน</p>

            
            <% if (error) { %>
                <p style="color: red;"><%= error %></p>
            <% } %>

            <form action="/signup" method="POST">
                <label>อีเมล</label>
                <input type="email" name="email" required>
                <label>รหัสผ่าน</label>
                <input type="password" name="password" required>
                <button type="submit">ลงทะเบียน</button>
            </form>
        </div>
        <div class="image-section"></div>
    </div>

</body>
</html>