<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="signin-styles.css">
    </head>

<body>

    <div class="container">
        <div class="form-section">
            <h1>test</h1>
            <p>เข้าสู่ระบบ</p>

            <% if (error) { %>
                <p style="color: red;"><%= error %></p>
            <% } %>

            <form action="/signin" method="POST">
                <label>อีเมล</label>
                <input type="email" name="email" required>
                <label>รหัสผ่าน</label>
                <input type="password" name="password" required>
                <div class="create-account">
                    สร้างบัญชีใหม่? <a href="/signup">กดตรงนี้</a>
                </div>
                <button type="submit">เข้าสู่ระบบ</button>
            </form>
        </div>
        <div class="image-section"></div>
    </div>

</body>
</html>