<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    </head>

<body>

    <div class="container">
        <div class="form-section">
            <h1>FACTIO</h1>
            <p>Sign Up</p>

            
            <% if (error) { %>
                <p class="error-message"><%= error %></p>
            <% } %>

            <form action="/signup" method="POST">
                <label>Email</label>
                <input type="email" name="email" required>
                <label>Password</label>
                <input type="password" name="password" required>
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="image-section"></div>
    </div>

</body>
</html>